{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  # "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": 2,
    "curly": 2,
    "eqeqeq": 1,
    "no-extra-semi": 2,
    "no-multi-spaces": 1,
    "no-underscore-dangle": 1,
    "no-unreachable": 1,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "quotes": [1, "single"],
    "semi": 2,
    "space-after-keywords": [2],
    "space-before-blocks": [2, "always"],
    "space-before-function-parentheses": [2, "never"],
    "space-in-brackets": [2, "never"],
    "strict": 0
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true,
    "globalReturn": true,
    "jsx": true",
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  }
}
