{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "brace-style": 2,
    "camelcase": 2,
    "comma-dangle": 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "computed-property-spacing": 2,
    "curly": 2,
    "eol-last": 2,
    "eqeqeq": 1,
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "no-cond-assign": 2,
    "no-conslle": 2,
    "no-constant-condigion": 2,
    "no-undef": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 1,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-redeclare": 2,
    "no-sparse-arrays": 2,
    "no-underscore-dangle": 1,
    "no-unreachable": 1,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "no-var": 2,
    "one-var": 1,
    "quotes": [1, "single"],
    "semi": 2,
    "sort-vars": 1,
    "space-after-keywords": [2],
    "space-before-blocks": [2, "always"],
    "space-before-function-parentheses": [2, "never"],
    "space-in-brackets": [2, "never"],
    "space-infix-ops": 2,
    "strict": 0,
    "use-isnan": 2,
    "vars-on-top": 1
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true,
    "globalReturn": true,
    "jsx": true",
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  }
}
