{
  "rules": {
    # クォーテーションをシングルで統一
    "string-quotes": "single",
    # 16進数のカラーコードを大文字で統一
    "color-hex-case": "upper",
    # 16進数のカラーコードは省略して記述する
    "color-hex-length": "short",
    # 無効なカラーコードを許可しない
    "color-no-invalid-hex": true,
    # 1以下の少数の値で、小数点の前に0を入れる
    "number-leading-zero": "always",
    # 不要な0を許可しない(10.0pxはダメ)
    "number-no-trailing-zeros": true,
    # 値が0の場合に単位をつけない(margin: 0px;はダメ)
    "number-zero-length-no-unit": true,
    # 関数calcの中でスペースなしの式を許可しない
    "function-calc-no-unspaced-operator": true,
    # 関数の中でカンマの直前にスペースを空けない
    "function-comma-space-before": "never",
    # 関数の中でカンマの直後にスペースを空ける
    "function-comma-space-after": "always",
    # urlをクォーテーションで囲わない
    "function-url-quotes": "none",
    # ベンダープレフィックスを許可しない
    "value-no-vendor-prefix": true,
    # リストの値で、カンマの直前に改行を許可しない
    "value-list-comma-newline-before": "always-multi-line",
    # リストの値で、カンマの直後に改行を必須にする
    "value-list-comma-newline-after": "always-multi-line",
    # リストの値で、カンマの直前にスペースを許可しない
    "value-list-comma-space-before": "never",
    # リストの値で、カンマの直後にスペースを許可しない
    "value-list-comma-space-after": "never",
    # 不要なベンダープレフィックスのプロパティを許可しない
    "property-no-vendor-prefix": true,
    # エクスクラメーションマークの直前にスペースを入れることを許可しない
    "declaration-bang-space-before": "never",
    # エクスクラメーションマークの直後にスペースを入れることを許可しない
    "declaration-bang-space-after": "never",
    # コロンの直前にスペースを入れることを許可しない
    "declaration-colon-space-before": "never",
    # コロンの直後にスペースを入れることを許可する
    "declaration-colon-space-after": "always-single-line",
    # !importantの使用を許可しない
    "declaration-no-important": true,
    # セミコロンの直前に改行を許可しない
    "declaration-block-semicolon-newline-before": "never-multi-line",
    # セミコロンの直後に改行させる
    "declaration-block-semicolon-newline-after": "always-multi-line",
    # セミコロンの直前にスペースを入れることを許可しない
    "declaration-block-semicolon-space-before": "never",
    # ブロックの閉じ括弧の直前に改行を必須にしてスペースを許可しない
    "block-closing-brace-newline-before": "always-multi-line",
    # ブロックの閉じ括弧の直後に改行を必須にしてスペースを許可しない
    "block-closing-brace-newline-after": "always-multi-line",
    # 空のブロックを許可しない
    "block-no-empty": true,
    # ブロックの開き括弧の直前に改行を許可しない
    "block-opening-brace-newline-before": "never-single-line",
    # ブロックの開き括弧の直後に改行を必須にする
    "block-opening-brace-newline-after": "always-multi-line",
    # ブロックの開き括弧の直前にスペースを許可する
    "block-opening-brace-space-before": "always",
    # セレクタの組み合わせの直後にスペースを許可する
    "selector-combinator-space-before": "always",
    # コメントにスペースを入れる
    "comment-whitespace-inside": "always",
    # インデントはスペース二つ
    "indentation": 2,
    # セレクタの重複を警告
    "no-duplicate-selectors": true,
    # 行末のスペースを許可しない
    "no-eol-whitespace": true,
    # ファイルの最終行に空白行を必須とする
    "no-missing-eof-newline": true,
    # 連続した空白行は1行しか許可しない
    "max-empty-lines": 1
  }
}
